[bumpversion]
current_version = 11.0.2
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:cloudregister/registercloudguest.py]

[bumpversion:file:package/cloud-regionsrv-client.spec]
