[bumpversion]
current_version = 10.5.3
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:cloudregister/registercloudguest.py]

[bumpversion:file:package/cloud-regionsrv-client.spec]
