[Unit]
Description=Obtain Cloud update server info and register with the server
After=ca-certificates.service network-online.target
Before=getty.target cloud-final.service google-startup-scripts.service waagent.service
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/registercloudguest
Type=oneshot

[Install]
WantedBy=multi-user.target
