[Unit]
Description=Enable/Disable Guest Registration for Microsoft Azure timer
After=network-online.target
Requires=network-online.target guestregister.service

[Timer]
OnCalendar=*:0/1
AccuracySec=1
Unit=regionsrv-enabler.service

[Install]
WantedBy=multi-user.target