[Unit]
Description=Enable/Disable Guest Registration for Microsoft Azure
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/usr/sbin/regionsrv-enabler-azure
Type=simple
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
