[Unit]
Description=Enable/Disable Guest Registration for Microsoft Azure timer
After=network-online.target
Requires=network-online.target

[Timer]
OnCalendar=*:0/1
AccuracySec=1
Unit=regionsrv-enabler-azure.service

[Install]
WantedBy=multi-user.target
